/* custom-cursor */
body{
    cursor: none;
}

.custom-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffc72f;
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 100;
    transition: top 0.0125s ease-in-out, left 0.0125s ease-in-out,
    transform 0.3s ease-in-out;
  }

/* fonts */

/* Source Sans Pro */
@font-face {
    font-family: "SourceSansPro-Regular";
    src: url(../font/SourceSansPro-Regular.woff) format('woff');
    src: url(../font/SourceSansPro-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* consola */
@font-face {
    font-family: "consola";
    src: url(../font/consola.woff) format('woff');
    src: url(../font/consola.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* pretendard */
@font-face {
    font-family: "Pretendard-Regular";
    src: url(../font/Pretendard-Regular.woff) format('woff');
    src: url(../font/Pretendard-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}




/* window bar */

div.window-bar{
    /* border: 10px solid palegoldenrod; */
    width: 100%;
    height: 32px;
    background-color: #ddd;
    position: relative;
}

div.window-bar h1{
    /* border: 1px solid black; */
    font-family: SourceSansPro-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
    letter-spacing: -2%;
    text-align: center;
    line-height: 32px;
}

div.window-bar ul{
    /* border: 10px solid palegreen; */
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
}

div.window-bar ul li{
    /* border: 3px solid paleturquoise; */
    display: inline-block;
    margin-right:9px;
}

div.window-bar ul li:last-child{
    margin-right: 0px;
}

div.window-bar ul li a{
    /* background-color: #fff; */
    font-family: SourceSansPro-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
    letter-spacing: -2%;
    padding: 4px;
}

div.window-bar ul li a:hover{
    background-color: #c9c9c9;
}


div.window-bar ul li a img{
    width: 26px;
    height: 18px;
    vertical-align: middle;
    padding-bottom: 4px;
    /* border: 1px solid black; */
}


/* side bar */
div.side-bar{
    /* border: 10px solid papayawhip; */
    /* width: 49px; */
    width: 2.55%;
    height: calc(100% - 64px);
    background-color: #2C2C2C;
    float: left;
}

div.side-bar svg{
    /* border: 5px solid red; */
    padding: 12px;
    margin-top: 8px;
    width: 100%;
    height: 49px;
    fill: #7a7a7a;
}

div.side-bar svg:hover{
    fill: #fff;
}

div.side-bar svg:nth-child(5){
    margin-top: 500px;
}

div.side-bar svg:nth-child(6){
    padding: 10px;
}


/* side-bar */

.link.active {
    background-color: #ffffff;
}

div.side-bar2{
    /* border: 10px solid seagreen; */
    /* width: 255px; */
    width: 13.28%;
    height: calc(100% - 64px);
    float: left;
    background-color: #F3F3F3;
    /* display: none; */
}

div.side-bar2 h1{
    font-family: SourceSansPro-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
    letter-spacing: -2%;
    padding: 10px 0 10px 15px;
}

div.side-bar2 div.acodian-bar{
    width: 100%;
    /* border: 10px solid paleturquoise; */
}

div.side-bar2 div.acodian-bar h2{
    font-family: SourceSansPro-Regular;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #000;
    padding-left: 15px;
}

div.side-bar2 div.acodian-bar h2 img{
    width: 9px;
    height: 9px;
    vertical-align: middle;
    margin-right: 4px;
}


div.side-bar2 div.acodian-bar ul{
    padding-top: 8px;
}
div.side-bar2 div.acodian-bar ul li{
    /* border: 3px solid paleturquoise; */
    padding: 3px;
}

div.side-bar2 div.acodian-bar ul li:hover{
    background-color: #ececec;
}


div.side-bar2 div.acodian-bar ul li a{
    font-family: SourceSansPro-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
    padding-left: 15px;
}

div.side-bar2 div.acodian-bar ul li a img{
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 4px;
}

/* contents */
/* tab-bar */

div.contents{
    /* border: 10px solid red; */
    width: 84.1%;
    /* width: 97.45%; */
    height: calc(100% - 64px);
    float: left;
}

div.contents div.tab-bar{
    /* border: 10px solid olivedrab; */
    width: 100%;
    height: auto;
    float: left;
    background-color: #F3F3F3;
    display: flex;
}

.tab.active {
    background-color: #ffffff;
}

.tab-content .content {
    display: none;
}

.tab-content .content.active {
    display: block;
    /* border: 10px solid rgb(255, 234, 0); */
    overflow: hidden;
}

div.contents div.tab-bar div.box1{
    /* border: 3px solid palegoldenrod; */
    width: 122px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

div.contents div.tab-bar div.box1:hover{
    background-color: #fff;
}



div.contents div.tab-bar div.box1 h1{
    font-family: SourceSansPro-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
}

div.contents div.tab-bar div.box1 h1 img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

div.contents div.tab-bar div.box2{
    /* border: 3px solid palegoldenrod; */
    width: 122px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

div.contents div.tab-bar div.box2:hover{
    background-color: #fff;
}

div.contents div.tab-bar div.box2 h1{
    font-family: SourceSansPro-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
}

div.contents div.tab-bar div.box2 h1 img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

div.contents div.tab-bar div.box3{
    /* border: 3px solid palegoldenrod; */
    width: 122px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

div.contents div.tab-bar div.box3:hover{
    background-color: #fff;
}

div.contents div.tab-bar div.box3 h1{
    font-family: SourceSansPro-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
}

div.contents div.tab-bar div.box3 h1 img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

div.contents div.tab-bar div.box4{
    /* border: 3px solid palegoldenrod; */
    width: 122px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

div.contents div.tab-bar div.box4:hover{
    background-color: #fff;
}

div.contents div.tab-bar div.box4 h1{
    font-family: SourceSansPro-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
}

div.contents div.tab-bar div.box4 h1 img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

div.contents div.tab-bar div.box5{
    /* border: 3px solid palegoldenrod; */
    width: 122px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

div.contents div.tab-bar div.box5:hover{
    background-color: #fff;
}


div.contents div.tab-bar div.box5 h1{
    font-family: SourceSansPro-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
}

div.contents div.tab-bar div.box5 h1 img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}


div.bottom{
    width: 100%;
    height: 32px;
    /* border: 3px solid palegoldenrod; */
}

div.bottom div.left_G{
    width: 2.5%;
    height: 100%;
    float: left;
    background-color: #329171;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.bottom div.left_G img{
    width: 22px;
    height: 22px;
}


div.bottom div.right_B{
    width: calc(100% - 2.5%);
    height: 100%;
    float: left;
    background-color: #007ACC;
    text-align: center;
    line-height: 2.2;
    color: #fff;
    font-size: 14px;
    font-family: "SourceSansPro-Regular";
}






